<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.359547785901-bke7oevrdfktpueua54uir94ntadimf3</string>
				<string>fb1669244280180338</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1669244280180338</string>
	<key>FacebookClientToken</key>
	<string>5d2a37accfbc54b965b01a3478071223</string>
	<key>FacebookDisplayName</key>
	<string>Beer_Library</string>
	<key>GIDClientID</key>
	<string>359547785901-bke7oevrdfktpueua54uir94ntadimf3.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Login</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
